/*
Angela CSS
*/

body p {
  font-size:16px;
}

/* Sidebar Gray Removal*/
.sidebar-content .content-sidebar-wrap{background:none;}

/* HOMEPAGE FIX - overrides "width: 1151px !important;"  */

@media only screen and (min-width: 1151px) {
  .content {
width: 100% !important;
  }
}

/* HEADER STYLING  */

.site-header {
    background-color: rgba(19, 136, 208, 0.52)!important;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.f-nav .site-title > a {
    background: url(/wp-content/uploads/2017/10/verified-offer-logo-color.png) no-repeat left;
        float: left;
    margin: 5px 0;
    min-height: 100px;
    width: 100%;
}

.f-nav .login_link{
    background: rgb(27, 73, 160);
}

.f-nav .login_link a{
    color: #fff !important;
}

.utility-bar {
    background-color: #e7eff1;
    color: #333;
    font-size: 12px;
    font-size: 1.2rem;
    padding: 10px 0;
    padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 99;
  display:none;
}

/* NAVBAR  */

.nav-primary .genesis-nav-menu .menu-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: none;
}

.nav-primary .genesis-nav-menu .sub-menu .current-menu-item a, .nav-primary { 
      color: #ffffff;
    text-transform: uppercase;
    background-color: none;
    color: #58595b;
  text-decoration: none;
}

.genesis-nav-menu .sub-menu {
    background-color: rgba(255, 255, 255, 0.98);
  color: #ffffff;
  text-decoration: none;
  border-bottom: 0px;
}

.genesis-nav-menu .sub-menu a {
    background-color: #transparent;
    border-top: 0;
    border-bottom: 0px;
}

.genesis-nav-menu .sub-menu a:hover {
    background-color: rgba(255, 255, 255, 0.74);
    color: #58595b;
  text-decoration: none;
  border-bottom: 0px;
}

.nav-primary .genesis-nav-menu .sub-menu a {
    color: #797979;
}

.nav-primary .genesis-nav-menu .sub-menu .current-menu-item a, .nav-primary .genesis-nav-menu .sub-menu a:hover {
    background-color: rgba(255, 255, 255, 0.64);
    color: #3fb7c5;
}

.nav-primary .genesis-nav-menu > .menu-item > a {
  color: #fff;
}

.nav-primary .genesis-nav-menu a:hover, .nav-primary .genesis-nav-menu .current-menu-item > a {
    color: #3fb7c5;
}

.f-nav .site-title > a {
  min-height: 65px!important;
  max-height: 65px!important;
}

.login_link{
    background: rgba(27, 73, 160, 0.71);
}

/* FONTS  */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 27px;
    font-size: 2.7rem;
}

h3 {
    font-size: 25px;
    font-size: 2.5rem;
}

.herotext h3 {
  font-size: 34px;
}

.herotext .h3 {
    font-size: 25px;
    font-size: 2.5rem;
  color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-size: 1.5rem;
}

body > div {
    font-size: 1.5rem;
}

.page-image.top-image .entry-title {
    font-family: 'Open Sans', sans-serif;
  font-size: 4.5rem;
    text-shadow: none;
  font-weight: 600;
  text-transform: uppercase;
}

.content .entry-content a {
    color: #3fb7c5;
    font-weight: 400;
    text-decoration: none;
}

/* WIDGET - HERO IMAGE  */

.home .top-image .wrap {
    max-height: 550px;
    display: none;
}

.home-f1 {
  text-align:left;
    padding: 0px 0;
    background-image: url(/wp-content/uploads/2017/10/banner-image-1.jpg);
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5rem;
  padding-bottom: 100px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.herotext {
    padding-top: 90px;
}

#hero-line1{
    color: white;
    margin-bottom: -18px;
    font-size: 50px;
}

#hero-line2{
    color: white; 
    font-size:100px; 
    font-weight: 600;    
    margin-bottom: 10px;
}

/* WIDGET - HOME FEATURE 2  */

.home .content .home-f2 .widget p {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.homeh3{
    font-size: 21px;
    line-height: 18px;
    color: #1B499F;
    font-family: 'Roboto', sans-serif;
}

.home-f2 #text-4{
    overflow:visible;
}

.home-f2 > .widget > .widget-wrap {
    margin-top: -150px;
}

#features-learn-more{
    margin-left:43%; 
    margin-bottom: -15px;
    top: -15px;
    position: relative;
}

/* WIDGET - HOME FEATURE 3  */

.home .content .home-f3 .widget {
    overflow: visible;
}

#verified-process{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;text-align: center;
}

#process-list{
  margin-left:17%;
}

.check-marks{
    display: inline; 
    float:left;
    margin-top:7px;
    margin-right:8px;
    margin-bottom: 25px;
}

.home-page-video{
    margin-left: 9px;
}

.features-description{
    font-size: 1.1em;
    line-height: 1.2em;
}

/* BANNER & TITLES - SECONDARY PAGES  */

.page-image.top-image .entry-title {
    font-size: 3.5rem;
  font-weight: 400;
  text-transform: none;
    color: white;
}

/* HOME - CTA BUTTONS  */

.yellowbtn {
    font-size: 25px;
    font-size: 2rem;
  font-weight:400;
  width: 80%;
  border-radius: 5px;
}

.bluebtn {
    font-size: 25px;
    font-size: 2rem;
  font-weight:400;
    width: 80%;
  border-radius: 5px;
    padding: 13px;
}

.ltbluebtn {
    background-color: #3fb7c5;
    color: #ffffff;
    width: 80%;
    padding: 10px;
    margin: 40px auto;
    font-size: 24px;
  border-radius: 5px;
}

.ltbluebtn a {
    background-color: #3fb7c5;
    color: #ffffff;
    width: 80%;
    padding: 10px;
    margin: 40px auto;
    font-size: 25px;
    font-size: 2rem;
  font-weight:400;
  border-radius: 5px;
}

.home-cta-btn {
    background-color: #FEC601;
    color: #204d9e;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    margin-top: 5px;
    font-size: large;
    font-weight: 600;
    display: inline-block;
}

.homectabtn {
    background-color: #FEC601;
    color: #204d9e;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0px;
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 30%;
    font-size: large;
    font-weight: 600;
}

.home-cta-btn a, .homectabtn a {
    color: #204d9e !important;
}

section#text-6 {
    padding-top: 50px;
}

.start-buying-text{
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1em;
    color: #1b499f;
    font-family: 'Roboto', sans-serif;
}

/* DASHBOARD - BUTTONS  */

.wdbc .btn-primary {
    color: #ffffff !important;
    background-color: #3fb7c5;
    border-color: transparent;
}

.wdbc .btn-danger{
    color: #ffffff !important;

}

.wdbc .btn-primary:hover {
    color: #ffffff;
    background-color: #29909c;
    border-color: transparent;
}


.wdbc legend {
    color: #58595b;
}

.wdbc img {
    max-width: 100%;
    height: auto;
}

.listings {
    font-size: 17px !important;
    color: #666666;
}

/* ACCORDION  */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #e7eff1 !important;
}

#accordions-350 .accordions-head {
    color: #58595b !important;
    font-size: 14px;
    background: #ffffff !important;
}

#accordions-350 .ui-accordion-header-active {
    background: #e7eff1 !important;
}

/* FOOTER  */

.site-footer {
    background-color: #091441;
    color: #9ca2b8;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1;
    padding: 6px 0;
    border-top: 1px solid #767676;
}

.footer-info{
    float:left;
}

.foot-links a{
    color:#fff;
}

.foot-link-head{
    margin-bottom: 10px;
    margin-top: 15px;
}

.foot-link-head a{
    font-size: 22px;
    line-height: 25px;
    color: #fff;
    font-weight:500;
}

.sub-links{
    font-weight:500;
}

/* PRICING TABLE  */

* {
    box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
    float: left;
    width: 100%;
    padding: 8px;
  height: 100%; 
}

/* Style the list */
.price {
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Pricing header */
.price .header {
    background-color: #e7eff1;
  bottom-border: solid grey 1pt;
    color: #4d4d4f;
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 0px;
}

/* List items */
.price li {
  list-style-image: none !important;
    border-bottom: 0px solid #e7eff1;
    padding: 20px;
    text-align: center;
}

/* Grey list item */
.price .grey {
    background-color: #e7eff1;
    font-size: 20px;
}

.price .grey {
    background-color: #e7eff1;
    font-size: 25px;
    font-weight: 400;
    color: #3fb7c5;
}

.price .price-bullet {
    text-align: left;
    font-size: 1.4rem;
  border-bottom: solid #e7eff1 1pt;
}

/* The "Sign Up" button */
.button {
    background-color: #3fb7c5;
    border: none;
    color: white !important;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;

}

/* The "Sign Up" button */
.button:hover {
    background-color: #3fb7c5;
    border: none;
    color: white;
}

/*Error page padding*/

.error404 .site-inner {
  padding: 190px 0;
}

@media only screen and (min-width: 1080px) {

    #footer-menu{
        margin-top:13px
        }
    }

/* Change the width of the three columns to 100% 
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

/*IE checkbox issue*/
.wdbc input[type='checkbox'], .wdbc .checkbox input[type='checkbox'], .wdbc .checkbox-inline input[type='checkbox'] {
  height: 13px; 
  margin-top: 18px;
}

@media only screen and (max-width: 1024px){
    #verified-process{
        font-size: 1.1em;
    }
    #process-list {
        margin-left: 5%;
    }
    .features-description{
        font-size: 1em;
        line-height: 1.34em;
    }
} 

@media only screen and (max-width: 969px) {
  .herotext {
    padding-top: 135px;
  }
  .herotext h3 {
    font-size: 24px;
  }
    .top-image {
        margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
    .site-header.f-nav {
        height: 145px;
    }
    .home-page-video{
        margin-left: 0px;
    }
    .home-f1{
        padding-bottom: 30px;
    }
    .home-f2 > .widget > .widget-wrap {
        margin-top: 0px;
    }
    #features-learn-more{
        margin-left:41%; 
        margin-bottom:5px;
    }
    .homectabtn{
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 20px;
    }
    #hero-line1{
        font-size: 39px;
    }
    #hero-line2{
        color: white; 
        font-size:75px; 
    }
    .start-buying-text{
        font-size: 2em;
        line-height: 1em;
        color: #1b499f;
    }
    .f-nav .nav-primary .genesis-nav-menu > .menu-item > a {
        padding: 27px 14px;
    }
    .f-nav .site-title > a{
        background-position: center center;

    }
}

@media only screen and (max-width: 680px) {
    .nav-primary .genesis-nav-menu > .menu-item > a{
        color: #363436;
    }
    .site-header.f-nav {
        height: 105px;
    }
    .f-nav .login_link a{
        color: #363436 !important;
    }
  .herotext {
    padding-top: 120px;
  }
    .top-image {
        margin-top: 0px;
    }
  .listings {
    overflow: scroll;
  }
    #text-5 {
        margin: 0 auto;
  }
  #process-list{
      margin-left: 8%;
  }
  .check-marks{
      margin-bottom: 35px;
  }
  #features-learn-more{
    margin-left:31%; 
    }
    #hero-line1{
        font-size: 33px;
        margin-bottom: 5px;
    }
    #hero-line2{
        color: white; 
        font-size: 50px; 
    }
}

@media only screen and (max-device-width: 480px) {

    .homectabtn {
        margin-left: auto;
        margin-right: auto;
    }
    .start-buying-text{
        font-size: 2em;
        line-height: 1.5em;
        color: #1b499f;
    }
}
